/Server/Volumebox.Host.Console/Volumebox.Host.Console/.vs
/Server/Volumebox.Host.Console/Volumebox.Host.Console/Volumebox.Host.Console/bin
/Server/Volumebox.Host.Console/Volumebox.Host.Console/Volumebox.Host.Console/obj
